* {
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    background-color:#1a78a3;
  }
  
  header {
    padding: 20px;
    text-align: center;
    background: #0b95d4;
    color: #fff;
    width: 100%;
    height: 100px;
  }

  header .header-name {
      font-family: Merriweather; 
      font-size: 24px;
      font-weight: 900;
      color: #111;
      display: block;
      margin: 0 auto;
      text-align:center;
      padding: 20px 0;
  }



  header nav ul {
      margin:0 auto;
      display:block;
      width: fit-content;
  }
  
  header nav ul li  {
     list-style:none;
     display: inline-block;
     line-height: 100px;
     float: left;
  }


  header nav ul li a{
    font-family: Merriweather; 
    font-size: 18px;
    color: #111;
    padding: 0 16px;
  }

  header .header-cases{
    display:none;
  }


  header ul li a:hover{
     color:rgb(149, 241, 10);
  }


  .index-banner{
      width: 100%;
      height: 100vh;
      background-image: url(./images/stephen-elliott-portfolio.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: table;
  }

  .centering {
      display: table-cell;
      vertical-align: middle;
  }

  .index-banner h1 {
      font-size: 50px;
      font-family: Merriweather; 
      font-weight: 900;
      color:#fff;
      text-shadow: 2px 2px 8px #111;
      text-align: center;
      line-height: 200px;
  }
  
  .index-banner h2 {
    font-size: 22px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 180;
    color:#fff;
    text-shadow: 2px 2px 8px #111;
    text-align: center;
} 
  .header {
    background: rgb(119, 108, 106);
    font-size: 28px;
  }

  .index-links div {
    margin: 16px 16px 0;
    width: calc(100% - 32px);
    height: 100px;
    background-color: #9ac2d4;
    font-size: 26px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    color: #111;
    text-align: center;
    line-height: 100px;
    text-transform: uppercase;
 }

 footer {
   width: calc(100%-80px);
   padding: 40px 40px;
   background-color:#111;
   margin-top: 20px ;
   overflow: hidden;
 }

 footer ul{
    width: fit fit-content;
    padding: 40px 40px;
    float: left;
    margin-top: 20px ;
 }

 footer ul li  {
  list-style:none;
  display: block;
  }

  footer ul li a{
    font-family: Merriweather; 
    font-size: 14px;
    color: rgb(250, 248, 248);
    line-height: 40px;
  }  

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    float: right;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa:hover {
    opacity: 0.7;
}
  @media only screen and (min-wdith: 1000px) {
  
    .index-banner{
      width: 100%;
      height: 100vh;
      background-image: url(./images/stephen-elliott-portfolio.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: table;
    }
  }
